body{
  background-color:darkturquoise;
}

h1{
  color:aliceblue;
  text-align:center
}

h1{
font-family: 'Pacifico', cursive;
}

h2{
  font-family: 'Ceviche One', cursive;
}

h2{
  color: Black;
  text-align:center
}

p{
  color:midnightblue;
  text-align:center
}

ul{
  list-style-type: none
}

li{
  color: midnightblue;
}

a:link {
  color: black;
  text-decoration: none;
  font-family: 'Cinzel', cursive; 
}

a:visited {
  color: crimson;
  text-decoration: none;
}

a:hover {
  color: mediumvioletred;
  text-decoration: none;
}
